html, body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

.container-fiuld {
    height: 100%;
    background-color: rgba(250, 235, 215, 0.404);
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.left {
    width: 120px;
    position: relative;
    background-color: rgb(235, 252, 246);
    user-select: none;
}

.center {
    width: 300px;
    background-color: azure;
}

.right {
    flex-grow: 1;
    background-color: beige;
}

.right>.info {
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.2);
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: keep-all;
    text-overflow: initial;
}

#screen {
    position: absolute;
    width: 100px;
}

#screen_mask {
    position: absolute;
    width: 100%;
    height: 100%;
}