.CodeMirror {
    font-size: 1.2rem;
    font-family: Consolas !important;
}

.cm-invalidchar-u20 {
    color: rgba(200, 200, 200, 0.1);
}

.cm-matchhighlight {
    background-color: darkgreen
}

.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

.CodeMirror-lint-tooltip {
    background-color: #ffd;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    color: black;
    font-family: monospace;
    font-size: 10pt;
    overflow: hidden;
    padding: 2px 5px;
    position: fixed;
    white-space: pre;
    white-space: pre-wrap;
    z-index: 2010;
    max-width: 600px;
    opacity: 0;
    transition: opacity .4s;
}